/* generics */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* utilities */

.bg-blue{
    background-color: blue;
    color: white;
}

.row{
    padding: 1px 0px;
}

.row > * {
    border-right: 1px solid white;
    text-align: center;
    padding: 5px;
    font-size: 10px;
}

.nested{
    background-color: green;
    color: white;

}