/* generics */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* utilities */

.bg-blue{
    background-color: #006cfa;
    color: white;
}

.h-30{
    height: 30px;
}

/* content */
.row{
    padding: 1px 0px;
}

.row > * {
    border-right: 1px solid white;
    text-align: center;
    padding: 5px;
    font-size: 10px;
}

.nested{
    background-color: #00e165;
    color: white;
}

.nested > * {
    padding: 5px;
}

.no-txt{
    
}

.no-txt > * {
    border: 1px solid white;
}

.end{
    justify-content: flex-end;
}