/* generics */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* utilities */

.bg-blue{
    background-color: #006cfa;
    color: white;
}

.bg-green{
    background-color: #00e165;
}

.pad-right{
    padding-right: 5px;
}

.pad-5{
    padding: 5px;
}

.h-30{
    height: 30px;
}

/* content */
.row{
    padding: 1px 0px;
}

.border > * {
    border-right: 1px solid white;
    text-align: center;
    padding: 5px;
    font-size: 10px;
}

.nested{
    background-color: #00e165;
    color: white;
}

.nested > * {
    padding: 15px;
}


.no-txt > * {
    border: 1px solid white;
}
